body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid rgb(242, 189, 13);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    height: calc(100vh - 120px);
    padding: 0;
}

#paragraphContainer {
    flex: 1 1 50%;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 100%;
}

#paragraphContainer select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

#paragraphContainer #promptsContainer {
    margin-top: 20px;
}

.prompt {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.prompt p {
    margin: 0 0 10px 0;
}

.prompt input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
}

#dropdownContainer {
    display: flex;
    flex-wrap: nowrap; /* 수평으로 유지 */
    gap: 10px; /* 간격 추가 */
}

#dropdownContainer select {
    flex: 1 1 auto;
    min-width: 0;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
}

#canvasContainer {
    flex: 1 1 50%;
    height: 100%;
    position: relative;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.node {
    position: absolute;
    min-width: 70px;
    min-height: 40px;
    background-color: #2fad83;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    color: white;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
    transition: opacity 0.3s;
}

.node.editing {
    opacity: 0.5;
}

.node .node-text {
    width: 100%;
    padding: 5px;
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.node.editing .node-text {
    color: black;
    pointer-events: auto;
}

.node .node-controls {
    display: none;
    justify-content: center;
    margin-top: 5px;
}

.node.editing .node-controls {
    display: flex;
}

.button {
    padding: 3px 6px;
    margin: 0 2px;
    background-color: #2fad83;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8em;
}

.button.add {
    background-color: #45a049;
}

.button.add:hover {
    background-color: #45a049;
}

.button.delete {
    background-color: #f44336;
}

.button.delete:hover {
    background-color: #d32f2f;
}

.node.level-0 {
    background-color: #1380b3;
    font-size: 23px;
}

.node.level-1 {
    background-color: #21a795;
    font-size: 15px;
}

.node.level-2 {
    background-color: #34c08a;
    font-size: 12px;
}

.node.level-3 {
    background-color: #b7d5bbc0;
    font-size: 16px;
}

.node.hint {
    background-color: rgb(204, 162, 45);
    color: purple;
}

.node.hint .node-text::before {
    content: "(눌러서 나의 경험도 써보자)";
    color: #000000;
    position: absolute;
    left: 5px;
    top: 5px;
    display: none;
}

.node.hint .node-text:empty::before {
    display: block;
}

.node.editing .node-text::before {
    display: none;
}

/* 반응형 디자인 */
@media (max-width: 1200px) {
    main {
        flex-direction: row;
    }

    #paragraphContainer,
    #canvasContainer {
        flex: 1 1 45%; /* 여유 공간을 유지하며 줄어듭니다. */
        min-width: 300px; /* 너무 작아지지 않도록 최소 너비를 설정합니다. */
    }
}
