/* 공통 스타일 정의 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    overflow: hidden;
}

.container {
    position: relative;
    width: 375px;
    height: 667px;
    margin: 20px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.mainbutton {
    position: absolute;
    width: 122px;
    height: 122px;
    left: 126px;
    top: 514px;
    background-image: url(compass.png);
    background-size: contain;
    border: 10px solid #7E3106;
    border-radius: 50%;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 20px rgba(213, 166, 95, 0.72);

}


.mainbutton:hover {
    background-image: url(compass.png);
    background-size: contain;
    scale: 0.9;
    cursor :pointer;
}

.mainbutton:active {

    background: rgba(214, 78, 15, 0.726);
}

.mainbutton_expand {
    position: absolute;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    left: 57px;
    top: 445px;
    clip-path: inset(100% 0 0 0); /* 초기 숨김 상태 */
    transition: clip-path 0.5s ease; /* 닦아내기 애니메이션 */
    background: rgba(196, 104, 99, 1);
    
}


.button_to {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 50%;
    border: 5px solid rgba(204, 127, 64, 0.72);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_to:hover {
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    scale:1.5;
}

.button_to:active {
    background: green;
    scale: 0.8;
}

#mine_to {
    left: 101px;
    top: 440px;
}

#mine_to:hover {
    background: rgba(122, 49, 167, 0.66);
}

#inven_to {
    left: 223px;
    top: 440px;
}

#crevasse_to {
    left: 290px;
    top: 520px;
}

#crevasse_to:hover {
    background: rgba(200, 67, 44, 1);
}

#raid_to {
    left: 34px;
    top: 520px;
}

.mainnav_treeframe {
    position: absolute;
    width: 336px;
    height: 330px;
    left: 20px;
    top: 80px;
    background: #7E3106;
}

.imsi-title {
    position: absolute;
    width: auto;
    height: 29px;
    left: 116px;
    top: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.mainnav_window {
    position: absolute;
    width: 306px;
    height: 306px;
    left: 34px;
    top: 90px;
    background: #F2E7DA;
    border-radius: 30px;
}

.title_todayscore {
    position: absolute;
    width: 169px;
    height: 29px;
    left: 103px;
    top: 111px;
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.label_todayscore {
    position: absolute;
    width: 306px;
    height: 184px;
    left: 34px;
    top: 150px;
    font-size: 128px;
    line-height: 155px;
    text-align: center;
    color: #C46863;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.today_right_button {
    position: absolute;
    width: 0;
    height: 0;
    left: 352px;
    top: 221px;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 42px solid #D9D9D9;
    transform: rotate(90deg);
}

.today_left_button {
    position: absolute;
    width: 0;
    height: 0;
    left: 10px;
    top: 221px;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 42px solid #D9D9D9;
    transform: rotate(-90deg);
}
