/* Main Page Styling */
.main-page {
    background: url('imsi_background_crevasse.png') no-repeat center center fixed;
}

#wg_treeframe {
    box-sizing: border-box;
    position: absolute;
    width: 336px;
    height: 347px;
    left: 20px;
    top: 70px;
    border: 6px solid rgba(48, 175, 183, 0.68);
    background: rgba(0,0,0,0.5);

}

#wg_corkframe {
    box-sizing: border-box;
    position: absolute;
    width: 315px;
    height: 180px;
    left: 30px;
    top: 430px;
    background: #000000;
    border: 2px solid #7E3106;


}

#wg_window {
    position: absolute;
    width: 315px;
    height: 307px;
    left: 3px;
    top: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

.question-container {
    position: absolute;
    width: 295px;
    height: 253px;
    left: 10px;
    top: 32px;
    background: rgb(255, 255, 255);
}

/* 선택지 스타일 - Option 1 to 5 */
.wg_a_option {
    position: absolute;
    width: 294px;
    height: 28px;
    left: 10px;
    background: rgba(48, 175, 183, 0.68);
    box-shadow: 0px 4px 8.6px rgba(0, 0, 0, 0.25), inset -4px -3px 3.1px rgba(70, 146, 188, 0.66);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wg_a_option1 {
    top: 10px;
}

#wg_a_option2 {
    top: 43px;
}

#wg_a_option3 {
    top: 76px;
}

#wg_a_option4 {
    top: 110px;
}

#wg_a_option5 {
    top: 143px;
}

/* 선택지 레이블 스타일 */
.label_wg_a_option {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 231, 167, 1);
    margin-top: 5px;
}