body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid rgb(242, 189, 13);
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 5px solid rgb(242, 189, 13);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

main {
    display: flex;
    height: calc(100vh - 140px); /* header와 footer 높이 고려 */
}

.container {
    display: flex;
    width: 100%;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#countdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#countdown {
    font-size: 48px;
}

#paragraphContainer {
    display: none;
}
