/* 버튼 스타일 */

/* 공통 스타일 - 원형 버튼 */
.subjectbutton {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%; /* 원형으로 만듦 */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #D9D9D9;
}

/* 모듈 내부 레이블 스타일 */
.label_subject {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

/* 각 버튼의 고유 스타일 */
#wordtestbutton {
    background: rgba(191, 106, 106, 0.68);
    left: 7px;
    top: 10px;
    border: 1px solid #FFFFFF;
}

#rcbutton {
    background: rgba(48, 175, 183, 0.68);
    left: 83px;
    top: 10px;
    border: 1px solid #FFFFFF;
}

#lcbutton {
    background: rgba(122, 49, 167, 0.66);
    left: 160px;
    top: 10px;
}

#handbutton {
    background: #D9D9D9;
    left: 237px;
    top: 10px;
}

/* 추가 버튼 스타일 */
#button5 {
    left: 7px;
    top: 100px;
}

#button6 {
    left: 83px;
    top: 100px;
}

#button7 {
    left: 160px;
    top: 100px;
}

#button8 {
    left: 237px;
    top: 100px;
}


/* module-container는 부모 요소 내에서 쌓이도록 */
.module-container {
    position: relative;
    width: 300px; /* 부모 요소의 너비를 가득 채움 */
    margin-bottom: 10px; /* 모듈 간의 간격 설정 */
    padding-left: 10px;
    top: 70px;
    overflow-y: auto; /* 세로 스크롤 활성화 */
}

/* 모듈 내부 레이블 스타일 */
.module-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

/* subjectmodule - 공통 모듈 스타일 */
.subjectmodule {
    width: 180px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

/* 개별 모듈 ID 스타일 */
#handmodule {
    background: #D9D9D9;
}

#wordtestmodule {
    background: rgba(191, 106, 106, 0.68);
    border-radius: 6px;
}

#rcmodule {
    background: rgba(48, 175, 183, 0.68);
    border-radius: 6px;
}

#lcmodule {
    background: rgba(122, 49, 167, 0.66);
    border-radius: 6px;
}

/* handmodule_upload */
.handmodule_upload {
    position: absolute;
    width: 56px;
    height: 30px;
    left: 240px;
    top: 130px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
