/* Main Page Styling */
.main-page {
    background: url('imsi_background_crevasse.png') no-repeat center center fixed;
}

#wm_treeframe {
    background : rgba(191, 106, 106, 0.68);
    border: 6px solid rgba(200, 67, 44, 1);
}

#wm_corkframe {
    background: rgba(255, 255, 255, 0.8);
}


/* 문제 영역 스타일 */
.question-container {
    position: absolute;
    top: 39px;
    left: 10px;
    width: 295px;
    height: 165px;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 4;
}



.container {
    position: relative;
    width: 240px;
    height: 150px;
    left:10px;
    top:10px;
    overflow: hidden;
    border-radius: 10px;

}

.roller {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
}

.item {
    width: 100%;
    text-align: left;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    color: #aaa;
    opacity: 0.5;
    transition: all 0.3s ease;
    user-select: none;
    padding-left: 10px;
}

.highlight-box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 98%;
    height: 50px;
    background-color: rgba(230, 242, 255, 0.2);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    border-radius: 10px;
}

.spacer {
    height: 50px;
    visibility: visible;
    font-size: 1rem;
    color: #aaa;
    text-align: center;
    line-height: 50px;
    user-select: none;
}

.arrow {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
    margin: 16px auto;
    right: 50px;
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.arrow:hover {
    scale:1.2;

}

.arrow-up {
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent rgba(241, 123, 42, 0.8) transparent;
    bottom:4px;
    z-index: 6;
}

.arrow-down {
    border-width: 20px 15px 0 15px;
    border-color: rgba(241, 123, 42, 0.8) transparent transparent transparent;
    top: 4px;
    z-index: 6;
}

.arrow:active {
    transform: scale(1.1);
    border-left-color: transparent; /* 왼쪽 테두리는 여전히 투명 */
    border-right-color: transparent; /* 오른쪽 테두리도 투명 */
    border-bottom-color: rgba(188, 77, 70, 0.66); /* 삼각형 부분의 색상만 변경 */
    border-top-color: rgba(188, 77, 70, 0.66);
}




.blackboard {
    position:absolute;
    left: 10px;
    top: 34px;
    width: 292px;
    height: 112px;
    background: rgba(0,0,0,0.8);
}


.lucin_bowl {

    position: absolute;
    width: 104px;
    height: 104px;
    left: 95px;
    top: 7px;
    background: url('lucin.png'); /* 루트 폴더의 lucin.png */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
}

.lucin {

    position: absolute;
    width: 104px;
    height: 104px;
    left: 95px;
    top: 7px;
    background: url('lucin.png'); /* 루트 폴더의 lucin.png */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    clip-path: inset(100% 0 0 0);
    overflow: hidden; /* 필수 */

}

.lucin_effect_ball {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 91px;
    top: 4px;
    display:none;
    z-index: 5;
    background-color: transparent;
    border: 4px solid rgba(188, 77, 70, 0.1);
    opacity: 1;
    border-radius: 50%;
}


.runeholder {
    width: 34px;
    height: 34px;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* 육각형 */
}

.rune {
    width: 34px;
    height: 34px;
    position: absolute;
    background: url('runes.png') no-repeat center center;
    background-size: contain;
    display: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    opacity:0.9;
    
}

.rune.active {
    opacity: 1.0;
    transform: scale(1.2);
    z-index:1;
}

#rune1 {
    left: 75px;
    top: 91px;
}
#rune2 {
    left: 58px;
    top: 38px;
}
#rune3 {
    left: 132px;
    top: 125px;
}
#rune4 {
    left: 187px;
    top: 91px;
}
#rune5 {
    left: 202px;
    top: 38px;
}

#runeholder1 {
    left: 75px;
    top: 91px;
}
#runeholder2 {
    left: 58px;
    top: 38px;
}
#runeholder3 {
    left: 132px;
    top: 125px;
}
#runeholder4 {
    left: 187px;
    top: 91px;
}
#runeholder5 {
    left: 202px;
    top: 38px;
}
/* runeslot */
.runeslot {
    position: absolute;
    width: 55px;
    height: 176px;
    left: 0px; /* 30 - 30 */
    top: -2px; /* 432 - 430 */
    background: rgba(54, 16, 1, 0.747);
    border-radius: 10px;
    border: 2px solid rgba(191, 106, 106, 0.68);
}

/* runeprep */
.runeprep {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 9px; /* 39 - 30 */
    top: 12px; /* 442 - 430 */
    background: url(runes.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.runeprep:hover {
    scale:1.2;
}

/* runeprep_detail */
.runeprep_detail {
    position: absolute;
    width: 241px;
    height: 38px;
    left: 61px; /* 91 - 30 */
    top: 10px; /* 440 - 430 */
    background: rgba(0, 0, 0, 0.6);
    
}

.label_runeprep_detail {
    color: rgba(255,255,255,0.8);
    text-align: center;

}


.rune_options_container {
    position:absolute;
    left:40px;
    top:-20px;
    height:84px;
    z-index: 7;
    background: rgba(213, 166, 95, 0.21);
}

.rune_option {
    background: rgba(42, 80, 31,0.66);
    width: 100px;
    height: 12px;
    border: 1px solid rgba(213, 166, 95, 0.72);

}

.label_rune_option {
    font-size: 6pt;
    text-align: left; /* 텍스트 중앙 정렬 */
    color: #ffffff; /* 기본 텍스트 색상 */
    margin-top: 2px;
    user-select: none;
}

.BosangBox {
    position: absolute;
    width: 284px;
    height: 388px;
    left: 46px;
    top: 140px;
    background: rgba(0, 0, 0, 0.66);
    border-radius: 40px;
    z-index: 20;
}